html {
    font: 12px/1 "Open Sans", sans-serif;
    overflow: auto;
    padding: 0.5in;
  }
  html {
    background: #999;
    cursor: default;
  }
  
  body {
    box-sizing: border-box;
    height: 13in;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5in;
    width: 8.5in;
  }
  body {
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  #gondericibilgi {
    display: inline-block;
    width: 35%;
  }
  #logo1 {
    display: inline-block;
    width: 20%;
    
  }
  #logo2 {
    display: inline-block;
    width: 30%;
   
  }
  
  .alici {
   
    display: inline-block;
    text-align: right;
  }
  
  .faturabilgitable {
   
    display: inline-block;
    position: relative;
    top: 10;
  }
  .faturabilgidiv {
    display: inline-block;
    position: relative;
  }
  .alicidiv {
    display: inline-block;
    position: relative;
  }
  
  .hesaptable th,td{
      border-collapse: collapse;
      border: 1px solid;
  }
  .faturagoruntutable th,td{
      border-collapse: collapse;
      border: 2px solid;
  
  }
  .gondericibilgitable input{
      border: none;
      height: 100%;
  }
  .faturabilgitable input{
      border: none;
      height: 100%;
  }
  
  .faturabilgitable th{
      border-collapse: collapse;
      border: 1px solid;
      text-align: right;
  }
  .faturabilgitable,td{
      border: 1px solid;
      border-collapse: collapse;
  
  }
  .faturagoruntutable input{
      border: none;
  }